html {
  font-size: 1.125rem;
}

.post .post-content .highlight>.chroma .lntd:last-child pre,
.post .post-content .highlight>.chroma .lntd:first-child pre {
  padding-top: 10px;
}

h2 {
  margin-top: 54px;
}

h3 {
  margin-top: 36px;
}

.post .post-content .highlight>.chroma {
  margin-top: 36px;
  margin-bottom: 36px;
}

.mobile-navbar .mobile-header-logo .logo,
.header .logo-wrapper .logo {
  font-family: cursive, sans-serif;
}

.terms,
.post .post-content .read-more .read-more-link,
.post .post-toc {
  font-family: source sans pro,helvetica neue,Arial,sans-serif;
}

.post .post-header .post-title,
.post .post-content h1,
.post .post-content h2,
.post .post-content h3,
h1, h2, h3 {
  font-family: source sans pro,helvetica neue,Arial,sans-serif;
  font-weight: bold;
}

.post .post-content a,
.post .post-content a code {
  color: #ff1e00;
}

.post .post-content a:hover code {
  border-bottom: 0;
  text-decoration: underline;
}

.post .post-content code {
  color: inherit;
}

.btn {
  border: 2px solid #F76C5E;
  background-color: #F76C5E;
  color: white;
  display: inline-block;
  font: inherit;
  padding: 20px;
  min-width: 100px;
  -webkit-appearance: none;
}

.btn:hover {
  border: 2px solid #F76C5E !important;
  background-color: white;
  color: #F76C5E;
  text-decoration: none;
}

.post .post-content code, .post .post-content pre {
  font-size: 1.05em;
  line-height: 1.2em;
}
